body 
{
background:whitesmoke;
padding: 0px;
margin: 0px;
font-style:italic ;
font-size: 19px ;
min-width: 640 px ;
min-height: 950 px;
max-width: 100%;
 

}


    cover{
background-color:whitesmoke;
}
.header-content{
overflow: hidden;
color: purple;

}
.header .logo{
width: 50%;
height: 73px;
float: left;
background: whitesmoke;

}
    
.logo img{
border-radius: 50%;
}
.container{
width: 100%;
height:20px;
margin: auto;
color: rgb(75,0, 130);
}
    .con h1 
    {
        color:black;
        
    }
    body h2
    {
        color:black;
    }
.header{
height: 80px;
width: 110%;
z-index: 10;


}

.s-header{
text-align: center;
margin-bottom: 20px;
}
.s-header .s-title{
font-size: 30px;
padding-top: 40px;  
}
.s-header .line{
display: block;
width: 60px;
height: 3px;
background-color:black;
margin:0 auto 60px auto;

}
.s-header h2{

color:purple;
}
.header .nav{
width: 100%;
list-style: none;
right: 70%;
text-align: left;
background:whitesmoke;


}
.header .nav li{
display:inline-block;
}
.header .nav li a{
color:rgb(75,0, 130);
text-decoration:underline;
padding: 26px 15px;
display: block;
}
.header .nav li a.active:after
.header .nav li a:after {
content: "";
display: block;
height: 3px;
background-color:black;
transition: width 0.5s;
}
.header .nav li a.active:after{width: 100%;}
.header .nav li a:after{width: 0;}
.header .nav li a:hover:after{width: 100%;}


img
    {
        max-width: 100%;
    }

.img1
{
display: block;
margin:auto;
background-position: left bottom;
border-radius: 2px;
}
.img2
{
  display: block;
  margin: 0 auto;
  position:relative;
  top: 300px;
  border-radius: 2px;
  
  
  
}

.img3
{
  display: block;
  margin: auto;
  position: relative;
  top: 560px;
  border-radius: 2px;
}
.img4
{
  display: block;
  margin: 0 auto;
  position:relative;
  left: 30%;
  bottom: 100%;
  top: 901px ;
  border-radius: 10px;
         
}
  .img5
  {
    display: block;
    margin: 0 auto;
    position: relative;
    left: 2%;
    right: 80%;
    bottom: 100%;
    top: 916px;
    border-radius: 10px;
    
    
  }
  .img6
  {
    display: block;
    margin: auto;
    position: relative;
    left: -28%;
    bottom: -950px;
    border-radius: 10px;
  }
  .img7{
      display: block;
      margin: auto;
      left: 33%;
      bottom: -950px;
      border-radius: 40%;
      position: relative;
      
  }
  

ul
{
margin: 0px;
padding: 0px;
list-style-type: none;

}
.navi
{
background: #ffffff;
padding: 0px;
margin: 0px;
text-align: center;
width:100%;
text-decoration: none;
position:relative;
min-height:36px;
display: inline-block;
}
li 
{
 
 text-decoration: none;
 color: black
}
.text
{
 font-weight: 600;
  position: absolute;
  top: 37%;
  left: 30%;
  color:black;
  text-transform: none;
  font-size: 1em;
  text-align:center;
  font-style: italic;
 
  
}
.text2
{
 font-weight: 600;
  position:absolute;
  top: 50%;
  left: 30%;
  color:black;
  text-transform: none;
  font-size: 1em;
  text-align:center;
  font-style: italic;
 
}
.text3{
 font-weight: 600;
  position:absolute;
  top: -33%;
  left: 0%;
  right: 50%;
  color:black;
  width: 100%;
  height: 80%;
  text-transform: none;
  font-size: 1em;
  text-align:center;
  font-style:italic;
}
.text4
{
  font-weight: 600;
  position:absolute;
  top: 650%;
  left: 30%;
  color: black;
  text-transform: none;
  font-size: 1em;
  text-align: center;
  font-style: italic;
}
.text5
{
    font-weight: 700;
    position: relative;
    top: 950px;
    left: 77%;
    bottom: 800px;
    color: rgb(75,0, 130);
    text-transform: none;
    font-size: 1em;
    text-align: justify;
    font-style: italic;
    
           }

.overlay
{
 position:absolute;
         left: 0%;
         bottom: 30px;
         color: rgb(75,0, 130);
         height: 50%;
         width: 80%;
       font-family:initial;
       text-align: right;
       
}
.overlay2
{
 position:absolute;
         left:0%;
         bottom: 30px;
         color: rgb(75,0, 130);
         height: 50%;
         width: 80%;
       font-family: initial;
       text-align: right;
       top: 140%;
       
}
.overlay3
{
 position:absolute;
         left:0%;
         right: 30%;
         bottom: 0px;
         top: 400%;
         color: rgb(75,0, 130);
         height: 50%;
         width: 100%;
       font-family: initial;
       text-align: right;
       
}
footer{
position: relative;
background:pink;
height: auto;
width: 99vw;
font-family: "open sans";
padding-top: 40px;
color: whitesmoke;
    top: 937px;

}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
position: relative;
font-size: 20px;
color: white;


}
.footer-content h3{
font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
line-height: 3rem;

}
.footer-content p{
max-width: 500px;
margin: 10px auto;
line-height: 28px;
font-size: 20px;

}
.social{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0 3rem 0;


}

.social li{
margin: 0 10px;


}
.social a{
text-decoration: none;
color: whitesmoke;

}
.social a i {
font-size: 1.9rem;
transition: color .4s ease;

}
.social a:hover i{
color: purple;

}
.footer-bottom{
background:pink;
width: 100vw;
padding: 20px 0;
text-align: center;

}
.footer-bottom p{
font-size: 16px;
word-spacing: 2px;
text-transform: capitalize;

}
.footer-bottom span {
text-transform: uppercase;
opacity: .4;
font-weight: 200;

}
